<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APP_TEKNO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <APP_TEKNO.My.MySettings>
            <setting name="conexionDBHANA" serializeAs="String">
                <value>Server=192.168.10.10:30015;UserName=SYSTEM;Password=Tekno2020.*</value>
            </setting>
            <setting name="UsuarioHANA" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="PasswordHANA" serializeAs="String">
                <value>Tekno2020.*</value>
            </setting>
            <setting name="ServidorHANA" serializeAs="String">
                <value>192.168.10.10:30015</value>
            </setting>
            <setting name="PuertoServidor" serializeAs="String">
                <value>30015</value>
            </setting>
            <setting name="UsuarioSAP" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="PasswordSAP" serializeAs="String">
                <value>Tekno2015.</value>
            </setting>
            <setting name="PuertoSL" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Meses" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UsuarioCorreo" serializeAs="String">
                <value>testdesarrollosdescon@gmail.com</value>
            </setting>
            <setting name="PasswordCorreo" serializeAs="String">
                <value>Descon2020</value>
            </setting>
            <setting name="ServidorCorreo" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="UtilizarSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CorreoTest" serializeAs="String">
                <value>angelitce@gmail.com</value>
            </setting>
            <setting name="NumPropietario" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="CorreoBitacora" serializeAs="String">
                <value>dpaniaguasgs@gmail.com</value>
            </setting>
            <setting name="RangoRojoMin" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="RangoRojoMax" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="RangoAmarilloMin" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="RangoAmarilloMax" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="RangoVerdeMin" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="RangoVerdeMax" serializeAs="String">
                <value>1.9</value>
            </setting>
            <setting name="CuerpoCorreo" serializeAs="String">
                <value>Enviamos el siguiente correo como prueba de funcionalidad del mismo, quedando atentos a sus comentarios y agradeciendo su atención</value>
            </setting>
            <setting name="AsuntoCorreo" serializeAs="String">
                <value>Pedido TeknoStep</value>
            </setting>
            <setting name="SaludoCorreo" serializeAs="String">
                <value>Buen dia</value>
            </setting>
            <setting name="Licencia" serializeAs="String">
                <value>192.168.10.10:40000</value>
            </setting>
            <setting name="Empresa" serializeAs="String">
                <value>TEKNOSTEP_PROD</value>
            </setting>
        </APP_TEKNO.My.MySettings>
    </userSettings>
</configuration>